	<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF=8">
	<title>Corona predictions</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<body>
<div class="container">

<form id='submit_params' method="POST" action="{{ url_for('submit_new_profile') }}">
<div class="form-group">
<table class="table">
    <tr>
        <td width="300px"><p style="text-align:center"><h1>COVID-19<BR>Probabilities of survival</h1></p></td>
        <td><p style="text-align:center">
			<img src="static/images/corona191.png" alt="corona" style='padding:1px; border:1px solid #021a40; width: 80%; height: 80%'>
			</p>
		</td>
        <td width="200px"><p style="text-align:center"><h3>Your data is anonymised with differential privacy</h3></p></td>
    </tr>
    <tr>
        <td>
            <table class="table" border=0 >
                <tr>
                    <td><label for="male">Age</label></td>
                    <td>
                       <SELECT class="selectpicker" name="selected_age">
				        <option value="{{selected_age}}" selected>{{selected_age}}</option>
				       {% for age in range(0,100) %}
				           <option>{{age}}</option>
				       {% endfor %}
				      	</SELECT>
				    </td>
                </tr>
                <tr>
                    <td><label for="male">Gender</label></td>
                    <td>
                     <SELECT class="selectpicker" name="selected_gender">
				          <option value="{{selected_gender}}" selected>{{selected_gender}}</option>
				          <option value='Male'>Male</option>
				          <option value='Female'>Female</option>
				      </SELECT>
					</td>
                </tr>           
          </table>

        </td>

        <td>{{model_results}}<BR>{{model_plot}}
        </td>
        <td>
        	<p style="text-align:center">COVID-19</p>
        	<p style="text-align:center">
			<img src="static/images/covid19.jpg" alt="cabin locations" style='padding:1px; border:1px solid #021a40; width: 100%; height: 150%'>
			</p></td>
    </tr>
    <td><button class="btn btn-default" type="submit" style="width: 120px; height: 30px;">When will I die</button></td><td></td><td></td>
    <tr>
</table>
</div>
</form>

</div>
</body>
</html>